@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center; /*vertically*/
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
  /* displays on right as .navbar display:flex */
}

/*
In the CSS code provided, the .navbar element is a flex container with a defined 
max-width property and margin: 0 auto, which centers it horizontally within its parent container.
The .links element is a child element of the .navbar element, and has a margin-left: auto property, 
which pushes it to the right end of the flex container. This works because when 
margin-left and margin-right are set to auto on a flex item, the item is pushed as far 
as possible in the direction of the free space within the flex container.

Since the .navbar element has a defined max-width, there is free space to the right of 
the .links element, and setting margin-left: auto pushes it to the right end of the 
container. This effectively positions the .links element on the right end of the .navbar element.

By combining display: flex, align-items: center, and margin-left: auto, 
we can easily create a horizontally centered flex container with a child element 
positioned to the right end. This is a common technique used in navigation bars 
and other UI components where we want to position certain elements to the right end of a container.
*/

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  /* 40 left and right, auto to centralise */
  padding: 20px;
}


/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.blog-preview a{
  text-decoration: none;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}